* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: rgb(14, 90, 14);
  color: rgb(13, 83, 13);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quote-box {
  background-color: white;
  margin: 0 auto 0;
  padding: 20px;
  border-radius: 5px;
  width: 60vw;
}

#quotation {
  font-size: 6vw;
}

#text {
  text-align: center;
  clear: both;
  height: auto;
  width: 100%;
  font-size: 3vw;
}

#author {
  text-align: right;
  clear: both;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 2.5vw;
}

#tweet-quote {
  float: left;
  padding-top: 0.9vw;
  width: 25%;
}

#tweet-quote:hover {
  opacity: 0.8;
}

#new-quote {
  float: right;
   width: 25%;
}

#new-quote:hover {
  opacity: 0.8;
}

.buttons {
  margin-top: 10px;
}

.button {
  text-decoration: none;
  border: none;
  color: white;
  background-color: rgb(14, 90, 14);
  height: 4vw;
  width: 20%;
  font-size: 1.5vw;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}


.footer {
  color: white;
  text-align: center;
  font-size: 1em;
  margin-top: 10px;
  position: relative;
  display: block;
  bottom: 0px;
  width: 33.7em;
}